<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>상품명</th>
                <th>가격</th>
                <th>재고수량</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.productName}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.stockQuantity}"></td>
                <td>
                    <a href="#" th:href="@{/web/product/{id} (id=${product.id})}" class="btn btn-primary" role="button">수정</a>
                </td>
                <td>
                    <form th:action="@{/web/product/{id} (id=*{product.id})}" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="btn btn-primary">삭제</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

</body>
</html>
